<?xml version="1.0" encoding="UTF-8"?>
<launch>

{#
This jinja2 template is for generating a launch file.
#}

{%- for entity in entities %}
{%- if entity.type == "ComposableNode" %}
  <!-- doing {{ entity.node_name }} ... -->
  <load_composable_node target="{{ entity.target_container }}">
    <composable_node pkg="{{ entity.package }}"
                     plugin="{{ entity.node_plugin }}"
                     name="{{ entity.node_name }}"
                     namespace="{{ entity.node_namespace }}">
      {%- if entity.component_remaps_global is defined %}

      <!-- global remaps -->
      {%- endif %}
      {%- for remap_rule in entity.component_remaps_global %}
      <remap from="{{ remap_rule[0] }}" to="{{ remap_rule[1] }}" />
      {%- endfor %}


      {%- if entity.component_remaps is defined %}

      <!-- remaps -->
      {%- endif %}
      {%- for remap_rule in entity.component_remaps %}
      <remap from="{{ remap_rule[0] }}" to="{{ remap_rule[1] }}" />
      {%- endfor %}


      {%- if entity.params_files is defined %}

      <!-- parameter files -->
      {%- for param_file_path in entity.params_files %}
      <param from="{{ param_file_path }}" />
      {%- endfor %}
      {%- endif %}


      {%- if entity.params_dicts is defined %}

      <!-- parameter dictionary -->
      {%- for params_dict in entity.params_dicts %}
      {%- for param_name, value in params_dict.items() %}
      <param name="{{ param_name }}" value="{{ value | replace("(", "[") | replace(")", "]") }}" />
      {%- endfor %}
      {%- endfor %}
      {%- endif %}

      
      {%- if entity.params_descs is defined %}

      <!-- parameter descriptions -->
      {%- for params_desc in entity.params_descs %}
      {%- for param_name, value in params_desc %}
      <param name="{{ param_name }}" value="{{ value | replace("(", "[") | replace(")", "]") }}" />
      {%- endfor %}
      {%- endfor %}
      {%- endif %}
    </composable_node>
  </load_composable_node>
{% endif %}
{%- endfor %}

</launch>
